#single-post {
  @include grid-row();

  .main-content {
    @include breakpoint(small) {
      @include grid-column(9);
    }

    @include breakpoint(medium) {
      @include grid-column(6);
    }
  }

  .post {

    blockquote {
      color : #caa40e;
      border-left : 10px solid #fafb96;
      p {
        color : #caa40e;
      }
    }

    .thumbnail-container {
      height: 250px;
      overflow: hidden;
      position: relative;
    
      .thumbnail-bkg {
        background-size: cover;
        position: absolute;
        height: 110%;
        width: 110%;
        top: -5px;
        left: -5px;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
      }

      .thumbnail-img {
        height: 100%;
        text-align: center;
        img {
          height : 100%;
          max-width: 80%;
          border-left: 3px solid white;
          border-right: 3px solid white;
        }
      }
    }

    .thumbnail-legend {
      font-family: 'Courier Prime Sans';
      font-size: 0.75rem;
      text-align: right;
      margin: 0.6rem 0;
    }

    .author {
      text-align: right;
    }

    .source {
      font-family: 'Courier Prime Sans';
      font-size: 0.75rem;
      margin-bottom: 0;
      padding-bottom: 0.4rem;
      text-align: left;
    }



    .curation {
      
      .curation-source-type {
        background-color: #fafb96;
        color : #caa40e;  

      }
      .curation-source-title {
        a {
          background-color: #fafb96;
          color : #caa40e;
        }
      }

    }

  }

}
