#page {
  @include grid-row();
  margin-top: 1rem;

  .main-content {

    padding-left : 1rem;

    h1,h2,h3,h4,h5,h6 {
      font-family: Farray;
      font-size: 0.875rem;
    }

    h1 {
      font-size: 1.2rem;
    }

    @include breakpoint(small) {
      @include grid-column(9);
    }

    @include breakpoint(medium) {
      @include grid-column(6);
    }
  }

}
