.header-details {
	display: table;
	margin-top : 1rem;

	.header-logo{
		display: table-cell;
		vertical-align: top;
		width: 25%;
	}

	.header-intro{
		display: table-cell;
		width: 75%;
		vertical-align: bottom;
		padding : 0 1rem;
		p {
			font-size: rem-calc(12);
			line-height: rem-calc(14);
			margin: 0;
	    }
	}	
}

